/* Nav Styles */

nav > .nav-wrapper {
    background-color: rgba(17, 17, 17, 0.50);
}

/* Header Styles */

header {
    background-image: url(../images/zoo_images/lynx-eye.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 350px;
}

header > .heading {
    background-color: rgba(17, 17, 17, 0.50);
    padding: 50px;
}

/* Encounters Info Section Styles */

#encounters-info {
    padding: 35px 0px;
}

#encounters-info > .flex-container {
    justify-content: space-around;
    margin-bottom: 50px;
}

#encounters-info > .flex-container > .encounter-info-card {
    padding: 35px 50px;
    border: 2px solid #968167;
    border-radius: 5px;
}

#encounters-info > p {
    text-align: center;
}

/* Encounters Section Styles */

#encounters > h2 {
    margin-top: 0px;
    text-align: center;
}

#encounters > .flex-container > .encounter-block {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

#encounters > .flex-container > .encounter-block:hover {
    box-shadow: 0px 4px 4px 0px #00000040, inset 0 0 0 1000px rgba(0,0,0,0.7);
}

#encounters > .flex-container > .encounter-block > h3 {
    min-width: 200px;
    color: #fff;
    margin: 0px 200px;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    text-shadow: black 0px 0px 10px;
}

#encounters > .flex-container > .encounter-block:hover > h3 {
    color: transparent;
    background-color: transparent;
    text-shadow: none;
}

#encounters > .flex-container > .encounter-block > p {
    line-height: 50px;
    padding: 20px 75px;
    color: transparent;
}

#encounters > .flex-container > .encounter-block:hover > p {
    color: #fff;
}

@media screen and (max-width:600px) {

    #encounters-info > .flex-container > .encounter-info-card {
        margin: 15px;
    }

    #encounters > .flex-container > .encounter-block > h3 {
        margin: 0px;
    }

}

